In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('Test_dataset.xlsx')

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Delhi,Female,Mrs,smt rekha prajapat,YES,2,Driver,Public,4,...,153,196,240,85,53,17,3,3900000,1300000,1
1,18664,Delhi,Male,Mr,nirmal,YES,2,Legal,Walk,4,...,95,138,241,81,61,2,5,1800000,1300000,1
2,5603,Delhi,Female,Mrs,pinky,YES,2,Sales,Car,4,...,40,166,236,88,47,24,3,5000000,2000000,2
3,5649,Delhi,Female,Mrs,pooja @aafrin,YES,2,Sales,Car,4,...,78,83,211,87,52,13,6,3100000,600000,2
4,5099,Delhi,Female,Mrs,anjali,YES,2,Business,Car,4,...,109,207,312,94,68,39,5,2300000,1500000,1
5,18749,Delhi,Male,Mr,diwan chand,YES,2,Sales,Walk,4,...,35,185,291,75,61,26,6,3400000,1700000,1
6,5228,Delhi,Female,Mrs,sunita,YES,2,Driver,Car,4,...,82,152,246,75,42,5,3,3500000,1000000,2
7,5559,Delhi,Female,Mrs,gaytri,YES,2,Manufacturing,Walk,4,...,117,112,343,68,54,24,3,3500000,400000,1
8,5220,Delhi,Female,Mrs,ritu,YES,2,Researcher,Public,4,...,89,107,224,80,53,5,6,1800000,1600000,2
9,5476,Delhi,Female,Mrs,poonam,YES,2,Researcher,Public,4,...,57,146,303,81,48,31,7,500000,800000,1
10,5260,Delhi,Female,Mrs,harprit,YES,2,Clerk,Walk,4,...,79,163,232,57,50,27,3,5000000,2000000,1
11,17638,Delhi,Male,Mr,aamir hussain,YES,2,Clerk,Car,4,...,140,84,223,87,41,17,3,2400000,800000,2
12,18635,Delhi,Male,Mr,ramesh,YES,2,Driver,Public,4,...,82,114,317,63,36,27,4,3300000,1800000,2
13,18794,Delhi,Male,Mr,dinkar sharma,NO,2,Clerk,Car,4,...,115,71,258,98,39,5,7,4700000,1300000,0
14,5263,Delhi,Female,Mrs,mahak,YES,2,Legal,Walk,4,...,31,121,277,70,35,16,7,2200000,900000,0
15,17680,Delhi,Male,Mr,raju,NO,2,Legal,Public,4,...,128,167,303,64,63,20,7,4200000,1200000,0
16,18030,Delhi,Male,Mr,dinesh,YES,2,Business,Public,4,...,101,100,315,80,48,27,5,1400000,1900000,2
17,18090,Delhi,Male,Mr,najimuddin,YES,2,Clerk,Car,4,...,71,110,255,94,56,26,6,4500000,1400000,1
18,18455,Delhi,Male,Mr,vikrant @ vicky,YES,2,Legal,Car,4,...,47,193,283,68,43,38,6,1300000,300000,2
19,18155,Delhi,Male,Mr,vikas kumar,YES,2,Sales,Car,4,...,86,123,263,80,49,18,4,4700000,1600000,2
20,18116,Delhi,Male,Mr,rakesh kumar,NO,2,Clerk,Car,4,...,99,79,255,74,35,0,6,2600000,700000,0
21,18144,Delhi,Male,Mr,jawed ahmad,YES,2,Driver,Public,4,...,74,84,349,96,42,11,4,2400000,1800000,0
22,5218,Delhi,Female,Mrs,priti,NO,2,Cleaner,Car,4,...,83,168,243,65,57,18,5,1400000,800000,2
23,5386,Delhi,Female,Mrs,arthi,YES,2,Legal,Walk,4,...,71,178,298,90,69,29,4,4800000,700000,2
24,18105,Delhi,Male,Mr,sandeep kumar,NO,2,Farmer,Walk,4,...,96,73,263,55,48,33,7,2500000,2100000,1
25,5735,Delhi,Female,Mrs,uma @ reena,YES,2,Driver,Public,4,...,49,99,284,72,42,39,6,2500000,1400000,2
26,5900,Delhi,Female,Mrs,mala,YES,2,Driver,Public,4,...,100,165,292,93,39,18,7,4500000,1100000,1
27,18391,Delhi,Male,Mr,ram lal,YES,2,Researcher,Public,4,...,42,140,295,74,37,0,7,400000,1800000,0
28,5786,Delhi,Female,Mrs,soniya,YES,2,Legal,Car,4,...,63,203,250,62,36,33,4,2800000,2000000,2
29,18639,Delhi,Male,Mr,ganesh,YES,2,Manufacturing,Car,4,...,106,149,303,80,69,36,6,2800000,1700000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14468,23328,Thiruvananthapuram,Male,Mr,denesh kumar,YES,0,Farmer,Car,11,...,20,129,270,59,48,30,4,4900000,2200000,1
14469,23293,Thiruvananthapuram,Male,Mr,madan,YES,0,Legal,Walk,11,...,92,29,258,81,57,9,3,2800000,400000,2
14470,23758,Thiruvananthapuram,Male,Mr,jitender,YES,0,Driver,Walk,11,...,30,78,272,69,63,27,7,4700000,1100000,1
14471,10958,Thiruvananthapuram,Female,Mrs,smt. rakhi jain,YES,0,Sales,Public,11,...,106,31,334,73,65,35,5,4200000,2300000,1
14472,11101,Thiruvananthapuram,Female,Mrs,renu,YES,0,Manufacturing,Public,11,...,32,93,269,94,54,0,7,4400000,1100000,0
14473,11017,Thiruvananthapuram,Female,Mrs,anisha koirala,YES,0,Sales,Walk,11,...,24,24,284,79,47,10,7,3700000,2200000,0
14474,23403,Thiruvananthapuram,Male,Mr,neeraj kumar,YES,0,Researcher,Public,11,...,19,110,212,78,45,18,6,3400000,400000,0
14475,23665,Thiruvananthapuram,Male,Mr,sanjay,YES,0,Manufacturing,Walk,11,...,56,36,205,84,44,31,6,400000,1100000,1
14476,10513,Thiruvananthapuram,Female,Mrs,smt. phuli devi,YES,0,Sales,Car,11,...,31,44,243,85,70,19,5,600000,900000,0
14477,11173,Thiruvananthapuram,Female,Mrs,jyoti,YES,0,Cleaner,Walk,11,...,67,21,277,75,67,3,7,3300000,2300000,1
14478,10187,Thiruvananthapuram,Female,Mrs,nisha,YES,0,Sales,Walk,11,...,63,29,324,98,44,19,4,600000,1400000,0
14479,10290,Thiruvananthapuram,Female,Mrs,vimla,YES,0,Legal,Car,11,...,28,83,257,62,61,32,3,3400000,2200000,1
14480,10872,Thiruvananthapuram,Female,Mrs,jyoti kumari,YES,0,Cleaner,Car,11,...,20,41,278,97,41,32,5,3100000,800000,0
14481,10338,Thiruvananthapuram,Female,Mrs,shorav,YES,0,Farmer,Walk,11,...,74,50,275,74,46,28,7,3500000,700000,0
14482,10172,Thiruvananthapuram,Female,Mrs,bhuri devi,YES,0,Farmer,Walk,11,...,23,77,246,90,50,29,4,1100000,400000,0
14483,10347,Thiruvananthapuram,Female,Mrs,manisha,NO,0,Farmer,Car,11,...,42,39,230,85,68,5,7,2900000,800000,0
14484,11226,Thiruvananthapuram,Female,Mrs,simran,YES,0,Driver,Public,11,...,102,24,295,98,40,27,6,4000000,600000,0
14485,10084,Thiruvananthapuram,Female,Mrs,priyanka,YES,0,Researcher,Walk,11,...,25,69,215,70,40,23,7,1200000,1200000,1
14486,23557,Thiruvananthapuram,Male,Mr,surendra,YES,0,Driver,Car,11,...,73,20,211,55,47,11,6,3500000,1800000,2
14487,23598,Thiruvananthapuram,Male,Mr,terence nameirak pam,YES,0,Sales,Car,11,...,41,77,233,94,52,37,5,4500000,1400000,0
14488,23608,Thiruvananthapuram,Male,Mr,mohd farhan,YES,0,Legal,Walk,11,...,38,37,334,77,43,10,6,4400000,1600000,1
14489,23212,Thiruvananthapuram,Male,Mr,parmod kumar,NO,0,Cleaner,Public,11,...,17,71,282,67,56,19,6,2600000,700000,2
14490,10661,Thiruvananthapuram,Female,Mrs,geeta,YES,0,Business,Walk,11,...,20,25,222,74,46,20,6,1800000,1400000,0
14491,10372,Thiruvananthapuram,Female,Mrs,renu,YES,0,Business,Car,11,...,30,53,216,64,38,19,7,3300000,1500000,1
14492,10615,Thiruvananthapuram,Female,Mrs,tayab,YES,0,Business,Public,11,...,30,28,293,85,43,36,4,2100000,2000000,2
14493,23737,Thiruvananthapuram,Male,Mr,hanuman sing,YES,0,Cleaner,Walk,11,...,16,36,346,66,45,34,3,4200000,800000,2
14494,11171,Thiruvananthapuram,Female,Mrs,gurupreet kaur @ nainsi,YES,0,Clerk,Car,11,...,22,29,278,94,37,23,6,4500000,1800000,2
14495,23243,Thiruvananthapuram,Male,Mr,sonu pandey,YES,0,Business,Public,11,...,15,28,294,73,56,6,6,4300000,800000,1
14496,11199,Thiruvananthapuram,Female,Mrs,nikky,YES,0,Driver,Car,11,...,31,24,227,83,60,32,7,2400000,1800000,2
14497,10787,Thiruvananthapuram,Female,Mrs,saroj,YES,0,Driver,Public,11,...,16,63,282,80,59,15,4,1400000,1000000,0