In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
data = pd.read_excel('Train_dataset.xlsx')
data

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800
5,6,Bhubaneshwar,Female,Mrs,sandhya,YES,1.0,Clerk,Public,2,...,86.0,216.0,94.0,38.0,5,5,4600000.0,1900000,2.0,49.518345
6,7,Bhubaneshwar,Female,Mrs,iqra,YES,2.0,Manufacturing,Car,2,...,156.0,311.0,99.0,68.0,23,5,4000000.0,1600000,1.0,49.670361
7,8,Bhubaneshwar,Female,Mrs,renu @ rinki,YES,1.0,Manufacturing,Public,2,...,179.0,242.0,82.0,59.0,34,3,4100000.0,1200000,0.0,49.121025
8,9,Bhubaneshwar,Female,Mrs,kalyani patro,YES,2.0,Sales,Public,2,...,156.0,NaN,NaN,37.0,21,7,4500000.0,900000,0.0,48.531922
9,10,Bhubaneshwar,Female,Mrs,gurdeep kaur,YES,1.0,Farmer,Public,2,...,178.0,277.0,83.0,58.0,28,4,2200000.0,1400000,2.0,48.475097
10,11,Bhubaneshwar,Female,Mrs,payal goyala,YES,1.0,Manufacturing,Public,2,...,24.0,203.0,62.0,51.0,31,4,4200000.0,1100000,0.0,46.970339
11,12,Bhubaneshwar,Female,Mrs,doly,YES,0.0,Driver,Car,2,...,66.0,224.0,54.0,68.0,14,5,1000000.0,300000,0.0,45.494822
12,13,Bhubaneshwar,Female,Mrs,karina @ kavita,NO,NaN,NaN,Public,2,...,174.0,213.0,98.0,43.0,33,3,NaN,2300000,2.0,35.147520
13,14,Bhubaneshwar,Female,Mrs,pooja prajapati @ pratibha,YES,2.0,Business,Public,2,...,48.0,333.0,99.0,51.0,31,5,3500000.0,2200000,2.0,48.948107
14,15,Bhubaneshwar,Female,Mrs,subhadra,YES,2.0,Manufacturing,Public,2,...,24.0,NaN,NaN,38.0,4,6,2500000.0,800000,1.0,49.611328
15,16,Bhubaneshwar,Female,Mrs,kajal choudhary,YES,1.0,Farmer,Walk,2,...,66.0,348.0,94.0,56.0,15,3,5000000.0,2200000,1.0,47.888912
16,17,Bhubaneshwar,Female,Mrs,chanchal,YES,2.0,Sales,Public,2,...,113.0,306.0,53.0,43.0,17,6,4700000.0,1200000,0.0,51.009536
17,18,Bhubaneshwar,Female,Mrs,jyoti,YES,0.0,Researcher,Walk,2,...,173.0,349.0,74.0,63.0,29,6,300000.0,1700000,1.0,47.207078
18,19,Bhubaneshwar,Female,Mrs,rinukanwr,YES,1.0,Clerk,Public,2,...,177.0,287.0,52.0,66.0,37,4,3900000.0,2300000,0.0,48.868666
19,20,Bhubaneshwar,Female,Mrs,komal,YES,2.0,Researcher,Public,2,...,170.0,239.0,57.0,41.0,25,4,1300000.0,800000,0.0,50.180430
20,21,Bhubaneshwar,Female,Mrs,devki,YES,0.0,Researcher,Car,2,...,133.0,325.0,73.0,36.0,38,3,2100000.0,1600000,NaN,47.910337
21,22,Bhubaneshwar,Female,Mrs,jyoti,NO,NaN,NaN,Public,2,...,32.0,343.0,56.0,40.0,20,5,NaN,1400000,2.0,79.081920
22,23,Bhubaneshwar,Female,Mrs,anuradha,NO,2.0,Driver,Public,2,...,194.0,215.0,88.0,50.0,33,5,4100000.0,1700000,0.0,77.129280
23,24,Bhubaneshwar,Female,Mrs,nazmin,YES,1.0,Cleaner,Car,2,...,158.0,342.0,97.0,61.0,22,3,3700000.0,1600000,0.0,46.698926
24,25,Bhubaneshwar,Female,Mrs,neha,NO,2.0,Clerk,Car,2,...,204.0,217.0,79.0,37.0,5,4,4100000.0,1000000,0.0,41.005440
25,26,Bhubaneshwar,Female,Mrs,priyanka,YES,0.0,Farmer,Public,2,...,96.0,291.0,95.0,67.0,39,6,3100000.0,2000000,2.0,48.050225
26,27,Bhubaneshwar,Female,Mrs,sushma,YES,2.0,Manufacturing,Public,2,...,176.0,277.0,61.0,59.0,32,7,4500000.0,700000,1.0,51.576403
27,28,Bhubaneshwar,Female,Mrs,salma,YES,1.0,Manufacturing,Public,2,...,190.0,339.0,84.0,48.0,2,5,2900000.0,2000000,0.0,49.104399
28,29,Bhubaneshwar,Female,Mrs,kiran,YES,2.0,Driver,Public,2,...,42.0,200.0,74.0,46.0,8,7,4000000.0,800000,1.0,49.424097
29,30,Bhubaneshwar,Female,Mrs,smt. anju,YES,1.0,Manufacturing,Car,2,...,176.0,284.0,76.0,59.0,0,6,800000.0,1400000,1.0,49.559846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,22666,Bengaluru,Male,Mr,ajay kumar,YES,0.0,Manufacturing,Walk,8,...,101.0,226.0,61.0,43.0,31,3,4500000.0,1500000,0.0,46.681280
10685,22667,Bengaluru,Male,Mr,vijay,YES,2.0,Farmer,Car,8,...,111.0,317.0,90.0,36.0,29,5,3200000.0,800000,1.0,60.929442
10686,22668,Bengaluru,Male,Mr,raju dass,YES,0.0,Sales,Public,8,...,29.0,303.0,53.0,68.0,27,6,400000.0,1300000,NaN,44.820983
10687,22669,Bengaluru,Male,Mr,partab chand soni,YES,0.0,Cleaner,Public,8,...,79.0,322.0,88.0,39.0,19,3,2500000.0,1800000,NaN,45.324030
10688,22670,Bengaluru,Male,Mr,mahesh,YES,2.0,Farmer,Car,8,...,159.0,NaN,NaN,39.0,12,5,4500000.0,400000,1.0,60.131988
10689,22671,Bengaluru,Male,Mr,nathu,YES,1.0,Driver,Car,8,...,194.0,343.0,80.0,63.0,10,7,2800000.0,1800000,2.0,54.917978
10690,22672,Bengaluru,Male,Mr,shri parkesh,NO,NaN,NaN,Car,8,...,64.0,320.0,94.0,42.0,36,7,NaN,1300000,2.0,43.934400
10691,22673,Bengaluru,Male,Mr,tejpal,YES,1.0,Business,Public,8,...,38.0,226.0,79.0,49.0,13,4,4800000.0,2000000,2.0,51.148002
10692,22674,Bengaluru,Male,Mr,mukesh,YES,0.0,Researcher,Car,8,...,175.0,320.0,95.0,66.0,1,4,2200000.0,1100000,NaN,47.666683
10693,22675,Bengaluru,Male,Mr,pankaj sehgal,NO,2.0,Cleaner,Public,8,...,117.0,328.0,82.0,59.0,23,5,3400000.0,1900000,0.0,92.750400
10694,22676,Bengaluru,Male,Mr,ram ratan,YES,0.0,Sales,Walk,8,...,161.0,259.0,55.0,54.0,37,5,4300000.0,700000,2.0,45.884754
10695,22677,Bengaluru,Male,Mr,vinod ahuja,YES,0.0,Farmer,Walk,8,...,43.0,258.0,93.0,50.0,13,3,1000000.0,500000,1.0,45.595862
10696,22678,Bengaluru,Male,Mr,darshan lal,YES,1.0,Cleaner,Walk,8,...,121.0,342.0,66.0,63.0,37,6,2300000.0,1500000,2.0,53.858163
10697,22679,Bengaluru,Male,Mr,sh sri ram,YES,2.0,Farmer,Public,8,...,150.0,235.0,95.0,39.0,1,5,700000.0,300000,1.0,59.869682
10698,22680,Bengaluru,Male,Mr,mohd. hanif,NO,1.0,Farmer,Car,8,...,154.0,268.0,84.0,35.0,2,4,2200000.0,1300000,0.0,54.673920
10699,22681,Bengaluru,Male,Mr,harji,YES,2.0,Driver,Public,8,...,114.0,349.0,76.0,52.0,3,4,4800000.0,1600000,1.0,59.188997
10700,22682,Bengaluru,Male,Mr,shah ali,YES,1.0,Clerk,Walk,8,...,134.0,343.0,78.0,54.0,24,6,1400000.0,1000000,0.0,52.927680
10701,22683,Bengaluru,Male,Mr,lalit saini,YES,0.0,Legal,Public,8,...,55.0,274.0,96.0,40.0,37,6,700000.0,300000,2.0,46.943607
10702,22684,Bengaluru,Male,Mr,sabir ali,YES,1.0,Manufacturing,Car,8,...,92.0,234.0,76.0,44.0,31,7,300000.0,1800000,2.0,53.944690
10703,22685,Bengaluru,Male,Mr,puran regar,YES,2.0,Legal,Public,8,...,93.0,205.0,67.0,67.0,6,7,3600000.0,2100000,1.0,60.658171
10704,22686,Bengaluru,Male,Mr,hawa singh,YES,2.0,Researcher,Walk,8,...,72.0,307.0,60.0,58.0,35,4,4400000.0,700000,0.0,59.594744
10705,22687,Bengaluru,Male,Mr,mukesh,YES,2.0,Manufacturing,Public,8,...,98.0,226.0,89.0,39.0,13,7,3400000.0,900000,1.0,59.374719
10706,22688,Bengaluru,Male,Mr,sanjay singh,YES,2.0,Clerk,Public,8,...,77.0,258.0,67.0,63.0,1,4,4900000.0,1900000,2.0,58.798970
10707,22689,Bengaluru,Male,Mr,ankit @ lala,NO,NaN,Legal,Car,8,...,33.0,271.0,67.0,68.0,38,3,NaN,1100000,2.0,30.265920
10708,22690,Bengaluru,Male,Mr,manoj kumar,YES,1.0,Farmer,Public,8,...,150.0,337.0,69.0,44.0,31,3,3300000.0,1400000,2.0,53.741750
10709,22691,Bengaluru,Male,Mr,ashish,NO,2.0,Business,Car,8,...,24.0,209.0,61.0,56.0,35,7,4000000.0,300000,0.0,41.981760
10710,22692,Bengaluru,Male,Mr,mohd mujahid ansari,YES,0.0,Manufacturing,Car,8,...,134.0,211.0,65.0,47.0,35,7,1500000.0,700000,NaN,47.148663
10711,22693,Bengaluru,Male,Mr,munnakumar,YES,0.0,Clerk,Public,8,...,151.0,296.0,87.0,37.0,16,5,3000000.0,2100000,2.0,47.708533
10712,22694,Bengaluru,Male,Mr,prakash,YES,1.0,Legal,Walk,8,...,110.0,253.0,56.0,70.0,28,5,2900000.0,700000,1.0,53.803565
10713,22695,Bengaluru,Male,Mr,mehboob mehandi,NO,2.0,Business,Car,8,...,134.0,201.0,82.0,60.0,4,3,2100000.0,1400000,0.0,68.342400

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 28 columns):
people_ID                 10714 non-null int64
Region                    10714 non-null object
Gender                    10714 non-null object
Designation               10714 non-null object
Name                      10694 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Occupation                9967 non-null object
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(8), object(10)
memory usage: 2.3+ MB